body {
  display: flex;
  flex-direction: column;
  flex: auto;
  min-height: 100%;
  max-width: 100%;
  background-color: red;
}

ul {
  list-style: none;
  padding: 0;
}


* {
  box-sizing: border-box;
}
