body {
  display: flex;
  flex-direction: column;
  flex: auto;
  min-height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}


* {
  box-sizing: border-box;
}

.app {
  width: 90%;
  margin: auto;
  @media (max-width: 576px) {
    width: 100%;
  }
}
